/*SITE STYLE*/

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    background: #fff url('img/fundo.png') repeat-x;
}
#container {
    width: 750px;
    margin: 0 auto;   
}
#topo {
    height: 150px;
    background: url("./img/detalhe-topo.png") no-repeat right top;
    padding: 25px 0px;
}
.logo {
    width: 152px;
    height: 66px;
    background: url('./img/logo.png') no-repeat center;
    text-indent: -3000px;
}

/*BARRA DE NAVEGAÇÃO*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
#topo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}
#topo ul li {
    float: left;
}
#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background:  url('./img/divisor1.png') no-repeat left center;
}
#topo ul .primeiro a {
    background: none;
}
#topo ul a:hover {
    color: #69001d;
}
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.International #navegacao a#International,
body.economy #navegacao a#economy,
body.health #navegacao a#health {
    color: #fff;
    background: #ce6784;
    cursor: text;
}

/*LOUYAT DAS TRES COLUNAS*/
#conteudo {
    margin-top: 60px;
}
#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}
#tres-colunas #primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}
#duas-colunas #primario {
    width: 555px;
    float: left;
    margin: 0 0 20px 195px;
}
#uma-coluna #primario {
    width: 750px;
    float: left;
    margin: 0 0 20px 0;
}
#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/*CAIXA*/
.caixa {
    margin: 10px 0;
    padding: 5px;
    background: rgb(234, 235, 238) url('img/fundo-caixa.png');
}
h2 {
    font-size: 1.1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}
.caixa-conteudo {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/*MENUS LATERAIS*/
#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3 ;
}
#lateral ul a:hover {
    background: #f9f9f9 url("img/marcador.png") no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
} 

/*FORMULARIO LATERAL*/
label {
    display: block;
    cursor: pointer;
}
input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}
input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}

/*FORMATANDO IMAGENS*/
img.img-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}

/*FORMATANDO CABEÇALHOS*/
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}
.destaque h3 {
    background: #b10333;
    color: #fff;
}
.estrevista h3 {
    background: #b10333;
}

/*LISTA DE NOTICIAS*/
#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}
#lista-noticias li a img {
    float: left;
    margin: 5px;
}
#lista-noticias li a {
    text-decoration: none;
}
#lista-noticias li a h3 {
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}
#lista-noticias li a p {
    font-size: 0.7em;
}
#lista-noticias li:hover {
    background: #eee;
}

/*RODAPE*/
#rodape-container {
    background: #294c71;
    padding: 20px;
}
#rodape {
    width: 750px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}